/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
	text-decoration: none;
}
/*=========================== Class Perso ========================== */
@font-face {
  font-family: "xmass-font";
  src: url("../font/xmass-font.ttf");
}
body{
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;	font-size: 16px;
}
.txt-maj{
	text-transform: uppercase;
}
.ovh{
	overflow: hidden;
}
.fs-1{
  font-size: 45px;
}
.fs-2{
  font-size: 28px;
}
.fs-3{
  font-style: 22px;
}
.fs-4{
  font-size: 16px;
}
.txt-name{
	font-family: 'Marck Script', cursive;
}
.z-i{
	z-index: 999;
}
.rltv{
 position: relative;
 }
 .ablst{
 position: absolute;
 }
 .h-100{
 height: 100%;
 }
 .w-100{
 width: 100%;
 }
 .m-auto{
	 margin: auto;
 }
 .curs-p{
	 cursor: pointer;
 }
 .brd{
 border: 2px solid red;
 }
 .pall-15{
 padding: 15px;
 }
 .mall-15{
 margin: 15px;
 }
 .txt-pc{
 color: #A91C24;
 }
 .txt-sc{
 color: orange;
 }
 .flx-ac{
 display:flex;
 justify-content: center;
 align-items: center;
 }
 .dis-none{
	 display: none;
 }
 .da-blk{
	 display: block;
 }
 .txt-c{
	 text-align: center;
 }
.fw-b{
	font-weight: bold;
}
.pall-5{
	padding: 5px;
}
/*====================================================*/
/*====================Page Card=====================*/
/*====================================================*/
#hide-file{
	display: none;
}
@keyframes upRightBall {
	from {
		top: -110%
	}
	/* 75% {
		top: 50%;
	} */

	to {
		top: 110%;
	}
}

@keyframes xRightBall {
	from {
		transform: translateX(0%);
	}
	50% {
		transform: translateX(1%);
	}

	to {
		transform: translateX(0%);
	}
}
@keyframes santaClos-move {
	from {
		left: -100%;
		transform: rotate(0deg);
	}
	10%{
		left: -2%;
		top: 9%;
		transform: rotate(0deg);
	}
	20%{
		left: 12%;
		top: 3%;
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(35deg);
	}
	40%{
		left: 42%;
		top: 18%;
		transform: rotate(35deg);
	}
	41%{
		transform: rotate(0deg);

	}
	50% {
		transform: rotate(0deg);
		left: 65%;
		top: 0%
	}
	51%{
		transform: rotate(25deg);
	}
	to {
		top: 10%;
		left: 200%;
	}
}
@keyframes skieur-move {
	from {
		top: 54%;
		left: -100%;
	}
	20%{
		top: 53%;
		left: 0%;
		transform: rotate(10deg);
	}
	40% {
		top: 51%;
		left: 60%;
		transform: rotate(12deg);
	}
	50%{
		top: 54%;
		left: 100%;
		transform: rotate(17deg);
	}
	51%{
		transform: rotate(-10deg) scaleX(-1);
	}
	60%{
		top: 51%;
		left: 60%;
		transform: rotate(-12deg) scaleX(-1);
	}
	80%{
		top: 53%;
		left: 0%;
		transform: rotate(-17deg) scaleX(-1);
	}

	to {
		top: 54%;
		left: -100%;
		transform: scaleX(-1);
	}
}
#screen-card{
	background-image: url('../img/background-card.svg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.neige-block1{
	width: 50%;
	left: 0px;
	animation: upRightBall 30s infinite linear;
}
.neige-block2{
	width: 50%;
	right: 0px;
	animation: upRightBall 30s infinite linear;
}
.neige1-flocon{
	animation: xRightBall 2s infinite linear;
}
.text-card{
  display: flex;
	font-family: 'xmass-font', sans-serif;
	z-index: 9999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	color: #A91C24;
  font-size: 46px;
}
.wish-block{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.block-santaClos{
	left: -200%;
	top: 10%;
	height: 120px;
	width: 180px;
	animation: santaClos-move 18s infinite linear;
}
.block-santaClos svg{
	height: 100%;
	width: 100%;
}
.block-skieur{
	/* left: -200%; */
	top: 56%;
	height: 120px;
	width: 180px;
	animation: skieur-move 18s infinite linear;
}
.block-skieur svg{
	height: 100%;
	width: 100%;
}
.ho-ho-X{
	opacity: 0;
	transition: opacity .5s ease-in-out;
}
.ho-ho-L{
	opacity: 1;
	transition: opacity .5s ease-in-out;
}
