/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
	text-decoration: none;
}
/*=========================== Class Perso ========================== */
body{
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;	font-size: 16px;
}
.ovh{
	overflow: hidden;
}
.fs-1{
  font-size: 45px;
}
.fs-2{
  font-size: 28px;
}
.fs-3{
  font-style: 22px;
}
.fs-4{
  font-size: 16px;
}
.txt-name{
	font-family: 'Marck Script', cursive;
}
.z-i{
	z-index: 999;
}
.rltv{
 position: relative;
 }
 .ablst{
 position: absolute;
 }
 .h-100{
 height: 100%;
 }
 .w-100{
 width: 100%;
 }
 .m-auto{
	 margin: auto;
 }
 .curs-p{
	 cursor: pointer;
 }
 .brd{
 border: 2px solid red;
 }
 .pall-15{
 padding: 15px;
 }
 .mall-15{
 margin: 15px;
 }
 .txt-pc{
 color: #A91C24;
 }
 .txt-sc{
 color: orange;
 }
 .flx-ac{
 display:flex;
 justify-content: center;
 align-items: center;
 }
 .dis-none{
	 display: none;
 }
 .da-blk{
	 display: block;
 }
 .txt-c{
	 text-align: center;
 }
.fw-b{
	font-weight: bold;
}
/*====================================================*/
/*====================Page Card=====================*/
/*====================================================*/
#hide-file{
	display: none;
}
@keyframes upRightBall {
	from {
		top: -80px;
	}
	/* 75% {
		top: 50%;
	} */

	to {
		top: 110%;
	}
}
@keyframes xRightBall {
	from {
		left: 0%;
	}
	50% {
		left: 10%;
	}

	to {
		left: 0%;
	}
}
@keyframes turnRightBall {
	from {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}

	to {
		transform: rotate(360deg);
	}
}
#screen-card{
	background-image: url('../img/background-card.svg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.big-flocon{
	position: absolute;
	width: 70px;
	height: 70px;
	animation: upRightBall 10s infinite linear;

	/* border: 2px solid red; */
}
.big-flocon svg{
	position: absolute;
	animation: xRightBall 1s infinite linear, turnRightBall 15s infinite linear;
	width: 80%;
	height: 80%;

	/* border: 2px solid blue; */
}
.text-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	color: #A91C24;
  font-size: 39px;
}
#damn{
	animation-duration: 25s;
	animation-name: upRightBall;
}
